In [1]:
#a=variable,20=data
a=20
b=19
c=20.5
d=10

In [2]:
type(a)

int

In [3]:
type(b)
type(c)
type(d)

int

In [4]:
type(c)

float

In [5]:
#mathmatical operations
c*d

205.0

In [6]:
c*d+a/b

206.05263157894737

In [18]:
225/b

11.842105263157896

In [24]:
11.842105263157896*19

225.00000000000003

# strings

In [9]:
print('anything inside a parenthes bracket known as strings,using print option remove inverted coma')

anything inside a parenthes bracket known as strings,using print option remove inverted coma

In [33]:
print('we can','also','add','different','strings','together')

we can also add different strings together

In [51]:
('we ' +'can' +'plus')

'we canplus'

In [50]:
print("plus "+"string")

plus string

In [10]:
first_string='me'
second_string='you'
third_string='hum'

In [11]:
print(first_string +second_string +third_string)

meyouhum

In [13]:
type(12)

int

In [47]:
type(first_string)

str

In [14]:
('karunya '*5)

'karunya karunya karunya karunya karunya '

In [15]:
#if i want to add the number to the strings so you have to first convert number to strings
('karunya got ''30 ''marks in maths')

'karunya got 30 marks in maths'

In [16]:
print('karunya '+ '2017') #inverted coma removed with print option

karunya 2017

# list

In [19]:
#list of anything stored in a []and it is mutable(means making any changes like delete,edit,replce,insert,sort,reverse anything)lets have some examples
list('abhilasha')

['a', 'b', 'h', 'i', 'l', 'a', 's', 'h', 'a']

In [35]:
#we can make empty list also
l3=[]

In [20]:
#lets make a list of employee and practice some mutable method
l = ['pradeep ', 'arshad ','sumit ','arvind']

In [3]:
#copy the list,but original were remain same
l2=list(l)
l2

['pradeep ', 'arshad ', 'sumit ', 'arvind']

In [4]:
#lets add another employee to the list by append method
l.append('arbaaz ')
l

['pradeep ', 'arshad ', 'sumit ', 'arvind', 'arbaaz ']

In [5]:
l2

['pradeep ', 'arshad ', 'sumit ', 'arvind']

In [6]:
l

['pradeep ', 'arshad ', 'sumit ', 'arvind', 'arbaaz ']

In [7]:
#delete the one name out of two,by default it will pop last one
l.pop()

'arbaaz '

In [8]:
l

['pradeep ', 'arshad ', 'sumit ', 'arvind']

In [21]:
#pop by indexing we can pop(delete) which we want 
l.pop(1)

'arshad '

In [23]:
l

['pradeep ', 'sumit ', 'arvind']

In [11]:
#insert in between anything by index
l.insert(1,'arshad ')

In [12]:
l

['pradeep ', 'arshad ', 'sumit ', 'arvind']

In [13]:
#slicing by index
l[1]

'arshad '

In [14]:
l[0]

'pradeep '

In [15]:
#if i want to replace any name,so it will do with the index
l[1]='rohit'
l

['pradeep ', 'rohit', 'sumit ', 'arvind']

In [16]:
#grabing by index
l[1:]
#if we enter index 1 than it will grab everything after 1 including it

['rohit', 'sumit ', 'arvind']

In [17]:
l[:3]
#if we grab before third so  it will grabeverything before it accept it

['pradeep ', 'rohit', 'sumit ']

In [18]:
#indexing,grabing,slicing does not affect main list
l

['pradeep ', 'rohit', 'sumit ', 'arvind']

In [19]:
l[1:3]

['rohit', 'sumit ']

In [20]:
l=l+['mahehs']
#we can plus the element like like this also,reassigning to keep the data permanent

In [21]:
l

['pradeep ', 'rohit', 'sumit ', 'arvind', 'mahehs']

In [22]:
l+['jitend']
#but this method does not change original list

['pradeep ', 'rohit', 'sumit ', 'arvind', 'mahehs', 'jitend']

In [23]:
l

['pradeep ', 'rohit', 'sumit ', 'arvind', 'mahehs']

In [24]:
#make the list double
l*2
#it will not change main list

['pradeep ',
 'rohit',
 'sumit ',
 'arvind',
 'mahehs',
 'pradeep ',
 'rohit',
 'sumit ',
 'arvind',
 'mahehs']

In [25]:
l

['pradeep ', 'rohit', 'sumit ', 'arvind', 'mahehs']

In [26]:
90*'='

'=========================================================================================='

# advanced list

In [28]:
# extend method
#if we append
l.append(['balram ','arun'])
l

['pradeep ',
 'rohit',
 'sumit ',
 'arvind',
 'mahehs',
 ['balram arun'],
 ['balram ', 'arun']]

In [29]:
l.extend(['balram ','arun'])
l

['pradeep ',
 'rohit',
 'sumit ',
 'arvind',
 'mahehs',
 ['balram arun'],
 ['balram ', 'arun'],
 'balram ',
 'arun']

In [30]:
l.pop(5)

['balram arun']

In [31]:
l

['pradeep ',
 'rohit',
 'sumit ',
 'arvind',
 'mahehs',
 ['balram ', 'arun'],
 'balram ',
 'arun']

In [34]:
l.insert(6,'balram')

In [35]:
l

['pradeep ',
 'rohit',
 'sumit ',
 'arvind',
 'mahehs',
 ['balram ', 'arun'],
 'balram',
 'arun']

In [36]:
l.pop(5)

['balram ', 'arun']

In [37]:
l

['pradeep ', 'rohit', 'sumit ', 'arvind', 'mahehs', 'balram', 'arun']

In [38]:
marks=[8,9,9,8,9,7,6,7,8,9,]

#### count

In [39]:

marks.count(9)
#it will count total number of same as 9

4

### index

In [40]:
marks.index(7)
#it will show first index

5

### remove method

In [41]:
#remove 1st one if same element is there
marks.remove(9)

In [50]:
marks

[6, 7, 7, 8, 8, 8, 9, 9, 9]

### reverse

In [51]:
marks.reverse()

In [52]:
marks

[9, 9, 9, 8, 8, 8, 7, 7, 6]

### sort

In [54]:
marks.sort()
marks
#by default it will sort in assending order

[6, 7, 7, 8, 8, 8, 9, 9, 9]

In [56]:
marks.sort(reverse=True)
marks
#by this method it will sort descending order

[9, 9, 9, 8, 8, 8, 7, 7, 6]

# tuples

In [2]:
#tupples are used parnthus bracket,they are immutable and two methds are used for the tuple .count and .index

In [4]:
#construct a tuple
family_members=('badri','abhi','karunya','jaswant','geeta','mahendra','narendra','surendra','jitendra')
type(family_members)

tuple

In [6]:
family_members.count('badri')

1

In [8]:
family_members.index('abhi')

1

In [9]:
#we want to change something
family=list(family_members)
family

['badri',
 'abhi',
 'karunya',
 'jaswant',
 'geeta',
 'mahendra',
 'narendra',
 'surendra',
 'jitendra']

In [11]:
family.append('aradhna')

In [12]:
family

['badri',
 'abhi',
 'karunya',
 'jaswant',
 'geeta',
 'mahendra',
 'narendra',
 'surendra',
 'jitendra',
 'aradhna']

In [14]:
#if we want to add more person in one time
family.extend(['kavita','neha'])
family

['badri',
 'abhi',
 'karunya',
 'jaswant',
 'geeta',
 'mahendra',
 'narendra',
 'surendra',
 'jitendra',
 'aradhna',
 'kavita',
 'neha']

In [16]:
family_members=tuple(family)
family_members

('badri',
 'abhi',
 'karunya',
 'jaswant',
 'geeta',
 'mahendra',
 'narendra',
 'surendra',
 'jitendra',
 'aradhna',
 'kavita',
 'neha')

In [17]:
len(family_members)

12

In [18]:
family_members[1]

'abhi'

In [19]:
family_members[-2]

'kavita'

## sets

In [24]:
# sets are mainly in curly bracket,(they are for eliminate the data and sort the things)
r_no=set()

In [30]:
r_no.add(1)
r_no.add(2)
r_no.add(3)
r_no

{1, 2, 3}

In [31]:
#lets try more adding
r_no.add(1)
r_no

{1, 2, 3}

In [32]:
#they show only one value if there are a duplicate

In [33]:
r_no.add(9)
r_no.add(4)
r_no

{1, 2, 3, 4, 9}

In [35]:
r_no.add(10)
r_no.add(6)
r_no

{1, 2, 3, 4, 6, 9, 10}

In [43]:
# they sort the content

In [42]:
names=set()
names.add('dhappi')
names.add('abhi')
names.add('karunya')
names.add('abhi')
names
#similary for the alphabete tyey can sort alphabatically,did not show the duplicate

{'abhi', 'dhappi', 'karunya'}

# dictionaries

In [99]:
fifth = {}
fifth =({'key:value'})

In [120]:
sixth = {'saksham':43,'yusra':44}

In [121]:
fifth

{'key:value'}

In [123]:
sixth.update({'virat':67})
sixth

{'saksham': 43, 'yusra': 44, 'virat': 67}

In [124]:
sixth ['saksham']

43

In [127]:
sixth['yusra'].upper()

AttributeError: 'int' object has no attribute 'upper'

In [130]:
my_marks={'rollnumber':1,'subject':['science','so_science','maths','hindi','english'],'marks':[80,90,80,70,78,89]}

In [131]:
my_marks

{'rollnumber': 1,
 'subject': ['science', 'so_science', 'maths', 'hindi', 'english'],
 'marks': [80, 90, 80, 70, 78, 89]}

In [136]:
my_marks['subject'][1].upper()

'SO_SCIENCE'

In [137]:
my_marks['marks'][2].lower()

AttributeError: 'int' object has no attribute 'lower'

In [138]:
my_marks['subject'][4].lower()

'english'

In [140]:
my_marks['rollnumber']

1

In [143]:
my_marks['maths']

KeyError: 'maths'

In [144]:
my_marks['marks'][0]+10

90

In [145]:
my_marks['marks'][1]-10

80

In [147]:
my_marks['marks'][1]+=10
my_marks

{'rollnumber': 1,
 'subject': ['science', 'so_science', 'maths', 'hindi', 'english'],
 'marks': [80, 110, 80, 70, 78, 89]}

In [162]:
my_marks['year']=2009
my_marks

{'rollnumber': 1,
 'subject': ['science', 'so_science', 'maths', 'hindi', 'english'],
 'marks': [80, 110, 80, 70, 78, 89],
 'year': 2009}

In [156]:
my_marks.update({'rollnumber':1})

In [157]:
my_marks

{'rollnumber': 1,
 'subject': ['science', 'so_science', 'maths', 'hindi', 'english'],
 'marks': [80, 110, 80, 70, 78, 89],
 'year': 2009}

In [164]:
my_marks.pop('year')

2009

In [165]:
my_marks

{'rollnumber': 1,
 'subject': ['science', 'so_science', 'maths', 'hindi', 'english'],
 'marks': [80, 110, 80, 70, 78, 89]}

In [167]:
my_marks.items()

dict_items([('rollnumber', 1), ('subject', ['science', 'so_science', 'maths', 'hindi', 'english']), ('marks', [80, 110, 80, 70, 78, 89])])

# range

In [6]:
print(list(range(111,1000)))

[111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [4]:
print(list(range(100,150,3)))

[100, 103, 106, 109, 112, 115, 118, 121, 124, 127, 130, 133, 136, 139, 142, 145, 148]

In [5]:
print(range(1,10))

range(1, 10)

In [19]:
list(range(1000,100,-50))

[1000,
 950,
 900,
 850,
 800,
 750,
 700,
 650,
 600,
 550,
 500,
 450,
 400,
 350,
 300,
 250,
 200,
 150]

In [23]:
list(range(10,100,3))

[10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

# functions

### def statements

In [35]:
def say_hello():
    print(' abhi')
say_hello()

 abhi

In [36]:
say_hello()

 abhi

In [9]:
def say_hi():
    print('u know me')
say_hi()

u know me

In [31]:
def greetings(abhi):
    print('hello', abhi)

In [33]:
greetings('dear')

hello dear

## using return

In [12]:
def salary_inc(salary):
    if salary<=9000:
        (salary+3000)
    else:
        salary

In [13]:
print('new salary=',salary_inc(1000))

new salary= None

In [15]:
def salary_inc(salary):
    if salary<=9000:
        return(salary+3000)
    else:
        return salary

In [16]:
print('new salary=',salary_inc(1000))

new salary= 4000

### with multiple arguments

In [4]:
def students_marks(math,science,english):
    return(math+science+english)

In [5]:
print('marks=',students_marks(10,10,10))

marks= 30

In [8]:
total_marks=students_marks(11,11,11)
total_marks

33

In [11]:
total_marks=students_marks(89,34,56)
if total_marks<90:
    print(total_marks,'-you are fail')
elif total_marks >=90 and total_marks <=150:
    print(total_marks,'-you are pass')
elif total_marks>=151 and total_marks<=250:
    print(total_marks,'-you are first class')
else:
    print(total_marks,'-you are distinction')

179 -you are first class

In [30]:
def phone_price(phone_make,phone_age,phone_model_gb):
    if phone_make=='iphone 11':
        if 0<phone_age<=6: #if 0 is lesser than phone_age and phone_age is less than or equal to 6
            if phone_model_gb==64:
                print('rs 39000 -rs 40000')
            elif phone_model_gb==128:
                print('rs 56000-rs 60000')
                
        if 6 <phone_age<=12: #if 6 is lesser than age and age is less than or equal to 12
            if phone_model_gb==64:
                print('rs 20000-rs 30000')
            elif phone_model_gb==128:
                print('rs 35000-rs 40000')
            
        elif phone_make =='samsung i note 10':
            if 0<phone_age<=6:
                print('₹ 4000-₹ 5000')
            elif phone_age>6:
                print('₹711-₹755')

In [37]:
phone_price('iphone 11',8,64)

rs 20000-rs 30000

# lambda function

In [1]:
lambda arguments: expression

In [2]:
add_num=lambda y : y+30
print(add_num(50))

80

In [3]:
multi_num = lambda a,b: a*b

print(multi_num(10,20))

200

# input from user/keyboars

In [4]:
name=input("enter your name")
print('user entered:',name)

enter your namekushagra
user entered: kushagra

In [5]:
name=input("enter your name")
print('user entered:',name)

enter your namebhavya
user entered: bhavya

In [6]:
name=input('enter your name')

enter your name bhayyu

In [8]:
science=int(input('science marks'))
maths=int(input('maths marks'))
total_marks=science+maths
print('your total marks', total_marks)

science marks67
maths marks78
your total marks 145

In [9]:
def my_fun(*args):
    for i in args:
        print('my args:-',i)

In [10]:
my_fun('india',56,'bengaluru',30.40,234)

my args:- india
my args:- 56
my args:- bengaluru
my args:- 30.4
my args:- 234

##### kwarg take any value, just like dictionary data

In [13]:
def my_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(key,value)

In [16]:
my_kwargs(students=['ram','shivu'],marks=[70,75])

students ['ram', 'shivu']
marks [70, 75]

In [1]:
s='what is problem'
s

'what is problem'

In [2]:
s[0]

'w'

In [3]:
s[8]

'p'

In [4]:
s[:8]

'what is '

In [5]:
s[1:]

'hat is problem'

In [6]:
s[3:8]

't is '

In [7]:
s[-1]

'm'

In [9]:
s[1::2]#after 2 colons it is a step size

'hti rbe'

# map

In [14]:
def grace_marks(marks):
    if marks==33:
        return(marks+2)
    elif marks ==34:
        return(marks+1)
    else:
        return marks

In [22]:
score=[50,40,34,35,32,33,33,35,56]

In [19]:
total=list(map(grace_marks,score))
print(total)

[50, 40, 35, 35, 32, 35, 35, 35, 56]

In [20]:
total.count(35)

5

# filter

In [21]:
def filter_marks(marks):
    if marks<35:
        return marks

In [23]:
failed=list(filter(filter_marks,score))
failed

[34, 32, 33, 33]

In [31]:
1%5

1

In [79]:
7%2

1

In [4]:
list(map(lambda var:var%2==0,[1,3,2]))

[False, False, True]

In [5]:
list(filter(lambda var:var%2==0,[1,3,2]))

[2]

# global and local variable

In [7]:
extra_marks=10
def glo_variable():
    print('printing inside the function and total is',35
         +extra_marks)
glo_variable()

printing inside the function and total is 45

In [8]:
print('printing inside the function and total is',35
         +extra_marks)

printing inside the function and total is 45

In [13]:
def loc_variable():
    some_marks=50
    print('printing outside the function and total is', 50 + some_marks)
loc_variable()

printing outside the function and total is 100

In [16]:
print('printing outside the function and total is', 50 + some_marks)

NameError: name 'some_marks' is not defined

In [19]:
def local_global():
    global var20
    var20='this is fantastic'
    print(var20)
local_global()

this is fantastic

## Errors and exception handling

In [25]:
print('hello')

hello

In [ ]:
try: